.H2_contacts, .H3, .button {
    text-align: center;
}

.H1, .paragraph {
    color: #1F3F68;
}

body {
    font-family: sans-serif;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
}

.H1 {
    font-size: 64px;
}

.H2_contacts {
    font-weight: 500;
    font-size: 44px;
}

.H3 {
    font-size: 36px;
}

.H4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
}
